.leaflet-container {
    width: 1000px;
    height: 550px;
}

.leaflet-top.leaflet-left {
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: space-between;
    width: 98%;
}

.leaflet-routing-container.leaflet-bar.leaflet-control{
    top:60px;
}